package main

import (
	"fmt"
	"os"

	"github.com/jefflinse/handyman"
)

func main() {
	app, err := handyman.NewApp([]byte(`{{.SpecData}}`))
	if err != nil {
		fmt.Fprintf(os.Stderr, "handyman: failed to instantiate app: %s", err.Error())
		os.Exit(1)
	}

	args := []string{}
	if len(os.Args) > 1 {
		args = append(args, os.Args[1:]...)
	}

	app.Run(args)
}
